@import "_webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-variant-ligatures: none;
}

[x-cloak] {
  @apply hidden;
}

p:not(:last-child),
ul:not(:last-child) {
  @apply mb-15 xl:mb-25;
}

ul:not(nav ul) {
  @apply list-disc list-outside pl-20 md:pl-25 xl:pl-30
}

ul li:not(nav ul li) {
  @apply list-item;
}

strong {
  @apply font-bold;
}
  
